.Car>img {

    width: 200px;

}

.Car {
    display: flex;
    gap: 20px;
}

.CarDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border);
}
.CarType{
    background-color: var(--Primary-Color);
    color: white;
    padding: 10px;
    border-radius: var(--radius);
    text-align: center;
    position: absolute;
    right: 0;
    font-weight: bold;

}