@import url(../../../index.css);

.S_Container {
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.SettingsNav ul {
    list-style: none;
    display: flex;


    border-radius: var(--radius);
    background-color: var(--white-cl);
}

.SettingsNav ul>li {
    width: 33%;
    display: flex;

}

.NavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: 1.3em;
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    color: var(--strong-black-cl);
    border-radius: var(--radius);
}

.NavLink:hover:not(.NavLink.activeNavLink) {
    background-color: var(--input-background);
}

.NavLink.activeNavLink {
    background-color: brown;
    color: white;
}









.SettingsSec {
    border-radius: var(--radius);
    background-color: var(--backgroundColor);
    border: 2px solid var(--border);
    padding: 15px 20px;
    position: relative;
}

.SettingsSec .SecHeader {
    border-bottom: 2px solid var(--border);
    padding-bottom: 15px;
}



/*Form------------------------------------------------------------*/
.InfoForm {
    display: grid;
    margin-top: 15px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
}

.InfoFormInput {
    display: flex;
    position: relative;
    flex-direction: column;
}

form label {
    font-weight: 600;
    font-size: 1.1em;
}

.InfoFormInput input {
    padding: 10px 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid var(--border);
    background-color: var(--input-background);

}

.InfoFormInput .InfoFormIcon {
    scale: 1.2;
    color: brown;
    position: absolute;
    left: 0;
    top: 0;
    translate: 50% 250%;
}

.Submition {
    display: flex;
    gap: 10px;
    position: relative;
    margin-top: 15px;
    justify-content: flex-end;

}

/* Security --------------------------------*/
.PassChangeForm {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*Biling----------------------------------*/
.RemoveCard {
    color: red;
}

.CreditCard {


    display: flex;
    align-items: center;
    justify-content: space-between;

}

.CreditCard.Default {
    background-color: var(--input-background);

}

.CardI {
    font-size: 2em;
    padding: 10px;
    color: white;
    border-radius: var(--radius);
    background-color: #252525;
}

.CardI.Default {
    background-color: brown;
}

.DefaultInd {
    padding: 5px 10px;
    color: white;
    font-size: 0.8em;
    border-radius: var(--radius);
    background-color: var(--btn1-color);
    font-weight: 500;
}