.carrentalcard-card {
  width: 100%;
  max-width: 350px;
  background-color: var(--backgroundColor);
  border: 2px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 0 4px 12px var(--bx-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 10px;
  transition: 0.3s;
}

.carrentalcard-card:hover {
  transform: scale(1.02);
}

.carrentalcard-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.carrentalcard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrentalcard-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.carrentalcard-name {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--strong-black-cl);
}

.carrentalcard-model,
.carrentalcard-rating,
.carrentalcard-location {
  font-size: 0.95em;
  color: var(--weak-black-cl);
  line-height: 1.3;
}

.carrentalcard-btn-container {
  padding: 0 15px;
  margin-top: auto;
}

.carrentalcard-rent-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--btn1-color);
  border: 2px solid var(--btn1-color);
  border-radius: var(--radius);
  color: var(--white-cl);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  transition: 0.2s;
}

.carrentalcard-rent-btn:hover {
  background-color: var(--btn1-color-hover);
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .carrentalcard-card {
    max-width: 100%;
  }

  .carrentalcard-img-container {
    height: 160px;
  }

  .carrentalcard-name {
    font-size: 1.1em;
  }
}
