@import url('../../index.css');

.explore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: min(100px, 15vh) min(100px, 15vw);
}

.explore-page>p {
  color: red;
  font-size: clamp(12px, 4vw, 15px);
  font-weight: 550;
}

.explore-page>h1 {
  width: 100%;
  text-align: center;
  font-size: clamp(1.4rem, 4vw, 2.5rem);
  margin-bottom: 70px;
  animation: smothAppearing 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 23%;
}

.explore-page>.trip-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: min(5vw, 8%) min(2vw, 8%);
  gap: min(16px, 8%);
  width: 90%;
}

.explore-page>.trip-form>label {
  background-color: var(--transparent-bg-cl);
  border-radius: 20px;
  padding: 10px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 3vh;
}

.explore-page>.trip-form>label>input {
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  outline: none;
  width: clamp(120px, 25vw, 200px);
}

.explore-page>.trip-form>label>input[type=number]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

.explore-page>.trip-form>button {
  width: clamp(120px, 25vw, 200px);
  background: linear-gradient(135deg, var(--btn1-color), var(--btn3-color));
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 10px 25px;
}

.explore-page>.trip-form>button:active {
  background: linear-gradient(135deg, var(--btn3-color), var(--btn1-color));
  transition: 100ms;
}

.explore-page>nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: min(30px, 8%) min(100px, 20vw) min(15px, 8%);
  width: 90%;
  gap: 5%;
}

.explore-page>nav>button {
  border: 2px dotted transparent;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  padding: 8px 12px;
  border-radius: 20px;
}

.explore-page>nav>button:hover {
  color: var(--btn1-color);
}

.explore-page>nav>button.active {
  border: 2px dotted var(--btn1-color);
  color: var(--btn1-color);
}

.explore-page>.exp-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 5vw;
}

.explore-page>.exp-images>img {
  object-fit: cover;
  aspect-ratio: 3 / 2;
  height: auto;
  width: clamp(150px, 20%, 400px);
  border-radius: 20px;
}

@keyframes smothAppearing {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}