@import url('../../index.css');

.header-div {
  position: sticky !important;
  top: 0;
  z-index: 40;
  width: 100vw;
}

.dimmed {
  opacity: 0.4;
  pointer-events: none;
  overflow: none;
}

header {
  background: url(../images/header.jpg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  border-radius: 0 0 25% 25%;
}

header>.slogo {
  display: flex;
  gap: 10px;
  animation: pulse-text 2.6s infinite;
  padding-left: min(120px, 8vw);
  padding-right: min(30px, 3vw);
}

header>.slogo>img {
  width: clamp(0.8rem, 4vw, 1.5rem);
}

header>.slogo>h1 {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
}

header>.navBar {
  list-style: none;
  display: flex;
  place-content: center;
  gap: clamp(14px, 6vw,20px);
  font-weight: 600;
}

.menu>i {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 19%;
  right: 10%;
  display: none;
}

header>.navBar>li {
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

header>.navBar>li:hover {
  color: var(--btn1-color-hover);
  transition: 0.3s;
}

header>.navBar>li:focus {
  border-bottom: 3px solid var(--btn1-color);
  color: var(--btn1-color);
  transition: 0.3s;
}



header>.SignLogIn {
  display: flex;
  gap: 20px;
}

header>.SignLogIn>button {
  font-size: 1rem;
  font-weight: 600;
  width: clamp(5rem, 20vw, 8rem);
  padding: 0.4rem min(1rem, 0.4rem);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--btn1-color);
  animation: pulse 2s infinite;
  color: var(--white-cl);
}

header>.SignLogIn>button:hover {
  scale: 1.02;
  transition: 0.4s;
  background-color: var(--btn1-color-hover);
}

header>.SignLogIn>button:active {
  scale: 0.95;
  transition: 0s;
  background-color: var(--btn1-color);
  animation: none;
}


.submit-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white-cl);
  padding: min(20px, 8%) min(50px, 8%);
  border-radius: 20px;
  gap: 20px;
  width: 500px;
  position: absolute;
  right: 25%;
  left: 30%;
  margin-top: 25px;
  box-shadow: 0px 0px 10px 4px var(--bx-shadow);
  animation: pop-up 1s ease;
  z-index: 1000;
  opacity: 1;
}

.sign-head {
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  display: flex;
  text-align: center;
  font-weight: bold;
  margin: 10px 25% 20px;
}

.submit-form>button[name=go-back] {
  position: absolute;
  right: 8%;
  top: 7%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-form>button[name=go-back]:hover {
  background-color: rgba(58, 38, 100, 0.2);
}

.submit-form>button[name=go-back]>i {
  color: gray;
  font-size: 20px;
}

.submit-form>button[name=go-back]:hover>i {
  color: var(--btn1-color-hover);
  font-size: 20px;
}

.submit-form>a {
  text-align: center;
  font-size: 13.5px;
  font-weight: bold;
  margin: -15px 40% 0;
  cursor: pointer;
  color: var(--btn3-color);
}

.submit-form>a:hover {
  transition: 0.3s;
  color: var(--btn1-color-hover);
}

.submit-form>a:active {
  transition: 0s;
  color: var(--btn1-color);
}

.submit-form>label> {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.submit-form>label>input {
  border-radius: 20px;
  padding: 10px 12px;
  border: solid 1.3px var(--weak-black-cl);
  font-size: 15px;
  width: 100%;
  outline: none;
}

.submit-form>label {
  cursor: pointer;
  width: 90%;
}

.submit-form>label>input:focus {
  animation: outline-At 0.4s infinite alternate;
}

.submit-form>label>input[type=email] {
  margin-left: 15px;
}

.submit-form>label>input[type=password] {
  margin-left: 15px;
}

.submit-form>button[name=submit] {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(135deg, var(--btn3-color), var(--btn1-color));
  color: var(--white-cl);
}

.submit-form>button[name=submit]:hover {
  animation: jello-horizontal 1.9s both infinite;
}

.submit-form>p {
  font-size: 13px;
  font-weight: 600;
}

button[name=return] {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: gainsboro;
  border-radius: 50%;
  padding: 3%;
  border: none;
  outline: none;
  position: absolute;
  top: 3%;
  left: 2%;
  display: none;
}

button[name=return]:hover>i {
  color: var(--btn1-color);
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.15, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.15, 1);
  }

  50% {
    transform: scale3d(1.05, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes outline-At {
  from {
    border-top-color: var(--btn1-color);
    border-right-color: var(--btn1-color);
    border-bottom-color: var(--btn3-color);
    border-left-color: var(--btn3-color);
  }

  to {
    border-bottom-color: var(--btn1-color);
    border-left-color: var(--btn1-color);
    border-right-color: var(--btn3-color);
    border-top-color: var(--btn3-color);
  }
}

@keyframes pop-up {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes pulse-text {
  0% {
    opacity: 1;
    scale: 1;
  }

  30% {
    scale: 0.95;
  }

  50% {
    opacity: 0.6;
    scale: 0.95;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(58, 38, 100, 1);
  }

  50% {
    box-shadow: 0px 0px 0px 10px rgba(58, 38, 100, 0);
  }

  100% {
    box-shadow: 0px 0px 0px 0px rgba(58, 38, 100, 0);
  }
}

@media (max-width:950px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white-cl);
    padding: 4%;
    border-radius: 15px 0 0 15px;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 1px solid var(--btn1-color);
    border-bottom: 1px solid var(--btn1-color);
    border-top: 1px solid var(--btn1-color);
  }

  #hideMin.navBar {
    opacity: 0;
    transform: translateX(200px);
    transition: 0.4s;
  }

  #showMin.navBar {
    opacity: 1;
    transform: translateX(0px);
    transition: 0.4s;

  }

  header>.slogo {
    padding-left: 0px;
    padding-right: 0px;
  }

  .menu>i {
    display: block;
  }

  button[name=return] {
    display: flex;
  }
}

@media (max-width:850px) {
  .submit-form {
    left: 20%;
    right: 20%;
    width: auto;
  }

  .sign-head {
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .submit-form {
    left: 10%;
    right: 10%;
    width: auto;
    padding: 20px 5vw;
  }

  .sign-head {
    margin-left: auto;
  }
}