@import url(../../index.css);

.reg-container {
  background: url(../images/header.jpg);
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.reg-container>.register-page {
  background-color: var(--white-cl);
  width: fit-content;
  height: fit-content;
  padding: min(60px, 8%) min(100px, 8%);
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  gap: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.57);
  border-radius: 50px;
  margin:8%
}


.register-page>h1 {
  width: 100%;
  font-size: clamp(1.4rem ,4vw,2.14rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-page>h1>h1 {
  font-size: 2.13rem;
  margin-right: 10px;
  color: var(--btn1-color);
}

.register-page>.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.separate-line {
  width: 2px;
  height: 350px;
  background-color: black;
  margin: 0 10px;
}

.first-sec,
.second-sec {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-size: 15px;
  font-weight: 600;
}

.error-msg {
  color: red;
  font-size: 10px;
  display: none;
}

.register-page>.register-form input,
label>select {
  width:100%;
  border-radius: 12px;
  outline: none;
  border: 1.3px solid gray;
  align-items: flex-end;
  padding: 8.5px 12px;
  font-size: 15px;
  font-weight: 500;
}

.register-page>.register-form select {
  border-radius: 12px;
  outline: none;
  border: 1.3px solid gray;
  align-items: flex-end;
  padding: 8.5px 12px;
  font-size: 15px;
  font-weight: 500;
}

.register-page>form label>div>label>input {
  width: 220px;
  border-radius: 12px;
  outline: none;
  border: 1.3px solid gray;
  align-items: flex-end;
  padding: 8.5px 12px;
  font-size: 15px;
  font-weight: 500;
}

.register-page>.register-form input:focus {
  animation: border-appealling 0.4s infinite alternate;
}

.register-page>.register-form label {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.phon>div {
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.register-page>.register-form button {
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  color: rgba(242, 242, 242, 0.8);
  background-color: var(--btn1-color-hover);
}

.register-page>.register-form button:hover {
  background-color: var(--btn1-color);
  transition: 0.3s;
  color: var(--white-cl);
}

.register-page>.register-form button:active {
  background-color: var(--btn1-color-hover);
  transition: none;
}

.register-page>.register-form .phone-first-sec {
  width: 65px;
  border-radius: 15px 0px 0px 15px;
  border-right: none;
  appearance: none;
  padding: 9px 10px;
}

.register-form>.register-form .phone-first-sec>option::-webkit-inner-spin-button {
  display: none;
}

.register-page>.register-form .phone-second-sec {
  border-left: none;
  border-radius: 0px 15px 15px 0px;
  width: 100%;
}


@keyframes border-appealling {
  from {
    border-top-color: var(--btn3-color);
    border-right-color: var(--btn3-color);
    border-bottom-color: var(--btn1-color);
    border-left-color: var(--btn1-color);
  }

  to {
    border-top-color: var(--btn3-color);
    border-right-color: var(--btn3-color);
    border-bottom-color: var(--btn3-color);
    border-left-color: var(--btn3-color);
  }
}

@media(max-width:600px) {
  .register-page>.register-form {
    display: block;
  }
  .separate-line{
    display: none;
  }
  .reg-container{
    height: fit-content;
  }
}