@import url(../../../../index.css);

.ann-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}

.ann-section .txt-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.ann-section .txt-content h1 {
  font-size: 1.9rem;
  width: 100%;
}

.typed{
  color: black;
}

.typed-cursor{
  color: var(--btn1-color);
}

.ann-section .txt-content p {
  font-size: 14.5px;
  width: 100%;
}

.ann-section .txt-content button {
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: var(--btn1-color);
  color: var(--white-cl);
  border: 2px solid transparent;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}

.ann-section>.txt-content>button:hover {
  background-color: transparent;
  color: var(--btn1-color);
  border: 2px solid var(--btn1-color);
  transition: all 0.4s ease-in;
}

.ann-section>.txt-content>button:active {
  background-color: var(--btn1-color);
  transform: translateX(0px);
  box-shadow: none;
  transition: 0s;
  color: var(--white-cl);
}

.ann-section>img {
  width: 400px;
  animation: smooth-mooving 2s infinite;
}

@keyframes smooth-mooving {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}