@import url('../../../../index.css');

.feedback-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: min(30px, 10vw);
  width: 100vw;
  padding: min(100px, 15vh) min(100px, 15vw);
  overflow: hidden;
}

.feedback-section>.some-feedbacks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.feedback-section>.some-feedbacks>h1,
.add-feedback h1 {
  font-size: clamp(1.2rem, 3vw, 2rem);
  width: 100%;
}

.feedback-section>.some-feedbacks>ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: min(20px, 20vh);
  height: fit-content;
}

.feedback-section>.some-feedbacks>ul>li>small {
  overflow-y: scroll;
  font-size: clamp(13px, 2vw, 14px);
}

.feedback-section>.some-feedbacks>ul>li>p {
  display: flex;
  align-items: flex-start center;
  justify-content: space-between;
  padding: 10px 18px;
  background-color: var(--transparent-bg-cl);
  font-weight: 600;
  transition: border-radius 0.3s ease-in-out;
  font-size: clamp(14px, 3vw, 16px);
}

.expand {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  background-color: var(--transparent-bg-cl2);
  padding: 10px 15px;
  opacity: 1;
  max-height: 120px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.minimize {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#btn {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
}

.bx-arrow-down-circle,
.bx-arrow-up-stroke-circle {
  font-size: clamp(14px, 4vw, 20px);
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.add-feedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.add-feedback>h1 {
  font-size: clamp(1.2rem, 4vw, 2rem);
  margin-bottom: min(15px, 10vh);
}

.add-feedback>p {
  font-size: clamp(0.6rem, 2vw, 1rem);
}

.add-feedback form {
  display: flex;
  flex-direction: column;
  margin: min(30px, 5vw) 0px;
  gap: 20px;
}

.add-feedback form>input,
textarea {
  outline: none;
  padding: min(12px, 3vh) min(15px, 8%);
  font-size: min(15px, 10vw);
  border: none;
  border-radius: 12px;
  background-color: var(--transparent-bg-cl2);
  width: min(500px, 90vw);
}

.add-feedback form>textarea {
  height: 200px;
  resize: none;
}

.add-feedback form>button {
  font-size: 15px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  background: linear-gradient(135deg, var(--btn1-color), var(--btn3-color));
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.4s ease;
}

.add-feedback form button:hover {
  transition: transform 0.25s ease;
  box-shadow: 0px -4px 5px 3px var(--bx-shadow);
  transform: translateY(6px) !important;
}

.add-feedback form button:active {
  transition: 0s;
  box-shadow: none;
  transform: translateY(0px) !important;
}

.add-feedback p {
  font-size: 14px;
}

@media (max-width:900px) {
  .feedback-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}