@import url('../../../../index.css');

.feedback-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 100px;
  gap: 30px;
}

.feedback-section>.some-feedbacks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.feedback-section>.some-feedbacks>h1,
.add-feedback h1 {
  display: flex;
  font-size: 2rem;
  width: 100%;
}

.feedback-section>.some-feedbacks>ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 390px;
}

.feedback-section>.some-feedbacks>ul>li>p {
  display: flex;
  align-items: flex-start center;
  justify-content: space-between;
  padding: 10px 18px;
  background-color: var(--transparent-bg-cl);
  font-weight: 600;
  transition: border-radius 0.3s ease-in-out;
}

.expand {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  background-color: var(--transparent-bg-cl2);
  padding: 10px 15px;
  opacity: 1;
  max-height: 120px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.minimize {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#btn {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
}

.bx-arrow-down-circle,
.bx-arrow-up-stroke-circle {
  font-size: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.add-feedback {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.add-feedback form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px 0px;
  gap: 20px;
}

.add-feedback form>input,
textarea {
  outline: none;
  padding: 12px 15px;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  background-color: var(--transparent-bg-cl2);
  width: 500px;
}

.add-feedback form>textarea {
  height: 200px;
  resize: none;
}

.add-feedback form>button {
  font-size: 15px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  background: linear-gradient(135deg, var(--btn1-color), var(--btn3-color));
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition:all 0.4s ease;
}

.add-feedback form button:hover{
  transition:transform 0.25s ease;
  box-shadow: 0px -4px 5px 3px var(--bx-shadow);
  transform: translateY(6px) !important;
}

.add-feedback form button:active{
  transition: 0s;
  box-shadow: none;
  transform: translateY(0px) !important;
}

.add-feedback p {
  font-size: 14px;
}