@import url(../../index.css);

footer {
  background-color: var(--transparent-bg-cl);
  padding: 0 100px;
  
}

footer>.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 200px;
  padding-top: 15px;
}

footer .footer .social-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

footer>.footer>.social-contact>.slogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 15px;
}

.icons>a {
  padding: 2px;
  border-radius: 50%;
  border: 2px solid var(--btn1-color);
  color: var(--btn1-color);
  align-items: center;
  justify-content: center;
}

.icons>a:hover {
  border: 2px solid transparent;
  background-color: var(--btn1-color);
  color: var(--white-cl);
  box-shadow: 0px 2px 3px 2px var(--bx-shadow);
  transition: 0.3s;
  transform: translateY(-4px);
}

.icons>a:active {
  border: 2px solid transparent;
  background-color: var(--btn1-color);
  color: var(--white-cl);
  box-shadow: none;
  transition: 0s;
  transform: translateY(0px);
}

footer>.footer>.social-contact>.icons>a>i {
  margin-top: 4px;
  font-size: 20px;
}

footer.footer>.social-contact>.slogo>img,
h1 {
  width: 25px;
  font-size: 25px;
}

.information{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:7px;
}

.page-sections{
  font-size: 14px;
}

.page-sections>p{
  width: fit-content;
  border-bottom: 1.2px solid transparent;
}

.page-sections>p:hover{
  color: var(--btn1-color);
  border-bottom: 1.2px solid var(--btn1-color);
  transition: 0.3s;
  cursor: pointer;
}

.page-sections>p:active{
  color: var(--btn1-color);
  border-bottom: 1.2px solid transparent;
  transition: 0s;
  transform: scale(0.96);
}
.contact-details{
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-details>a{
  color: gray;
  text-decoration: none;
}

.contact-details>a:hover{
  color: gray;
  color: var(--btn1-color);
  background:none;
  scale:0.9;
  transition: scale 0.3s ease;
}

#copyright{
 font-size: 1.0rem;
 text-align: center;
  margin: 10px 0 0;
  text-align: center;
  white-space: nowrap;
  font-weight: 800;
}

.copy { 
  display:  flex;
  justify-content: center ;
  align-items: center;
}
