
:root {
  --btn1-color: #e74211;
  --btn1-color-hover: #f1643a;
  --btn2-color: #b695fe;
  --btn2-color-hover: #9362fe;
  --violet-cl: #7d1dd6;
  --btn3-color: #ffd600;
  --white-cl: white;
  --strong-black-cl: black;
  --weak-black-cl: #080808;
  --bx-shadow: rgba(95, 39, 23, 0.68);
  --transparent-bg-cl: rgba(200, 32, 56, 0.15);
  --transparent-bg-cl2: rgba(100, 75, 80, 0.2);
}
.hotelcard {
    position: relative; 
    border-radius: 8px;
    overflow: hidden; 
    background-color: white;
    color: var(--btn1-color); 
    transition: transfrom 0.2s;
    height: 100%;
    flex-direction: column;
    box-shadow : 10px 10px 10px var(--btn1-color);
   
}

.hotelcard:hover { 
    transition: 300ms ease-in-out;
    scale: 1.1;

    
}

.hotle-poster{ 
    position: relative;
    width: 100%;
    aspect-ratio: 5/3 ;
}

.hotle-poster img { 
    z-index: 1; 
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.hotel-info { 
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}


.hotel-info h3 {
     font-family: monospace;
     font-size: 1.2rem;
     color:#080808;
     border-radius: 20px;
     text-align: left;
     
}
.purchase-button { 
margin-top: 10px;
 display: flex;
 justify-content: right;
 align-items: flex-end;
 
}

.purchase-button button { 
    background-color: black;
    box-shadow: 5px 5px 10px 5px #0000006f;
    font-family: monospace;
}

.purchase-button button:hover { 
    scale:1.2;
    background-color: white;
}





