
:root {
  --btn1-color: #e74211;
  --btn1-color-hover: #f1643a;
  --btn2-color: #b695fe;
  --btn2-color-hover: #9362fe;
  --violet-cl: #7d1dd6;
  --btn3-color: #ffd600;
  --white-cl: white;
  --strong-black-cl: black;
  --weak-black-cl: #080808;
  --bx-shadow: rgba(95, 39, 23, 0.68);
  --transparent-bg-cl: rgba(200, 32, 56, 0.15);
  --transparent-bg-cl2: rgba(100, 75, 80, 0.2);
}
.hotelcard {
    position: relative; 
    border-radius: 8px;
    overflow: hidden; 
    background-color: white;
    color: var(--btn1-color); 
    transition: transfrom 0.2s;
    height: 100%;
    margin : 10px;
    flex-direction: column;
    box-shadow : 10px 10px 10px var(--btn1-color)
}

.hotelcard:hover { 
    transform: translateY(-5px);

    
}

.hotle-poster{ 
    position: relative;
    width: 100%;
    aspect-ratio: 5/3 ;
}

.hotle-poster img { 
    z-index: 1; 
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.hotel-overlay { 
    position: absolute;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom ,rgba(0,0,0,0.1) , rgba(0,0,0,0.8));
    opacity: 0;
    transition: opacity 0.2s ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
}

.hotelcard:hover .hotel-overlay { 
    opacity : 1;
}



.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
 
  cursor: pointer;
}

.favotire-btn.clicked { 
    background-color: var(--btn1-color);
}





