
:root {
  --btn1-color: #e74211;
  --btn1-color-hover: #f1643a;
  --btn2-color: #b695fe;
  --btn2-color-hover: #9362fe;
  --violet-cl: #7d1dd6;
  --btn3-color: #ffd600;
  --white-cl: white;
  --strong-black-cl: black;
  --weak-black-cl: #080808;
  --bx-shadow: rgba(95, 39, 23, 0.68);
  --transparent-bg-cl: rgba(200, 32, 56, 0.15);
  --transparent-bg-cl2: rgba(100, 75, 80, 0.2);
}


 form {
    display: flex;
    gap: 0px;
    align-items: center;
  }

::placeholder { 
  color: black;
  opacity: 1;
}


.inforamtions { 
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width:  70vw;
  margin : 15px auto;
  border: 2px solid var(--btn1-color-hover);
  padding: 20px 20px;
  border-radius: 10px;
  background-color: var(--btn1-color-hover);
  box-shadow: 5px 5px 10px var(--weak-black-cl);
  opacity: 1;
  z-index: 100;

}

input[type="text"], input[type="date"], input[type="number"], input[type="persons"], input[type="password"] {
  padding: 10px;
  border: 1px solid var(--strong-black-cl);
  border-radius: 5px;
  font-size: 16px;
  width: 30vw;
  box-shadow: 2px 2px 5px var(--btn1-color-hover);
  color:black;
}

input[type="text"], input[type="number"], input[type="persons"], input[type="password"] { 
  width: 60vw;
  color:black;
}

.form { 
  width: 60vw;
  height: 40px;
  background-color: var(--btn1-color);
  font-size: 1.75rem;
  text-align: center;
  border-radius: 5px;
  opacity: 1;
}

.form:hover {
  background-color: white;
  color: var(--btn1-color);
  cursor: pointer;
  width: 60vw;
  scale:1.1;
}


.persons input{ 
  width: 20vw;
}


.distination input{ 
width: 30vw;
}



