


* {
    font-family: Montserrat;
}

nav {

    background-color: rgba(255, 255, 255, 80%);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px ;
    border-bottom:4px solid var(--btn1-color);
    position: sticky;

}

nav>img {
    scale: 2.5;
}

.Profile_Username {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.Profile_Username .P-Type {
    color: #e74311e3;
}

.Profile_Username>div {
    text-align: center;
    font-weight: bold;
}


