@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

@keyframes typing {

  from  { 
   width: 0;
  }

  to { 
    width: 100%;
  }
  
}

@keyframes blink { 
  50% { 
    border-color: transparent;
  }
}

:root {
  --btn1-color: #e74211;
  --btn1-color-hover: #f1643a;
  --btn2-color: #b695fe;
  --btn2-color-hover: #9362fe;
  --violet-cl: #7d1dd6;
  --btn3-color: #ffd600;
  --white-cl: white;
  --strong-black-cl: black;
  --weak-black-cl: #080808;
  --bx-shadow: rgba(95, 39, 23, 0.68);
  --transparent-bg-cl: rgba(200, 32, 56, 0.15);
  --transparent-bg-cl2: rgba(100, 75, 80, 0.2);
}

.Show {
  /* border: 1px solid black; */
  border-radius: 20px;
  width: 98vw;
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

.output {
  border-radius: 20px;
  width: 90%;
  margin: auto ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  min-height: 300px;
}
.search  {
  width: 80%;
   margin: auto ;
   margin-top: 90px;
   z-index: 100;
}

.outputarea {
  width: 93vw;
  height: auto;
  margin: 10px auto;
  padding: 50px;
  border-radius: 10px;
  color: var(--white-cl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px; 


}



.slider-wrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;

}
.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 5px 5px 5px 5px  hsla(0, 0%, 0%, 0.6);
  border-radius: 20px;
  scrollbar-width: none;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding-bottom: -10px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.pic-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  color: white;
  font-size: 0.75rem;
  font-family: "Montserrat", Courier, monospace;
}

.slide:hover .pic-overlay {
  opacity: 1;
}

.slider-nav {
  display: flex;
  column-gap: 0.6rem;
  position: absolute;
  top: 0.6rem;
  left: 39%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}


.top-hotels {
  margin: 5px;
  width: 98vw;
  border-radius: 10px;
  /*  background: url('../pics/pexels-sebastian-189349.jpg');
  background-size: cover;  */
  font-family: "BBH Sans Hegarty", sans-serif;
  white-space: nowrap;
}

.second-section h1{ 
 background-color: white;
 margin: 10px auto;
  text-align: center;
  width: 80%;
  border-radius: 2rem;
  background-color: var(--btn1-color);
  color: white;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
 /* animation: typing 5s steps(18) forwards infinite, blink 1s step-end infinite; */
}

.icon { 
  width : 25px;
  height: auto;
}

.header { 
  color: black ;
  background: none;
  border-bottom: 2px solid black;
  border-radius: 20px;
  width: 300px; 
  padding : 10px;
  text-align: center;
  margin: 10px auto;
  white-space: nowrap;
  font-size: 1.4rem;
  box-shadow: 5px 5px 5px black;
}

.header:hover { 
  scale:1.2;
  background-color: var(--btn1-color);
  color:white;
  transition-duration: 1000ms;
}




