* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn1-color: #e74211;
  --btn1-color-hover: #f1643a;
  --btn2-color: #b695fe;
  --btn2-color-hover: #9362fe;
  --violet-cl: #7d1dd6;
  --btn3-color: #ffd600;
  --white-cl: white;
  --strong-black-cl: black;
  --weak-black-cl: #080808;
  --bx-shadow: rgba(95, 39, 23, 0.68);
  --transparent-bg-cl: rgba(200, 32, 56, 0.15);
  --transparent-bg-cl2: rgba(100, 75, 80, 0.2);
}

.Show { 
    border: 1px solid black;
    border-radius: 20px;
    width: 98vw;
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto ;
}

.output { 
    margin: 5px auto ;
    border: 2px solid black;
    border-radius: 20px;
    width: 98vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  background: #333 url('../pics/hotels3.jpg') no-repeat center center ;
  
  background-size: cover;
  min-height: 300px
}



.outputarea { 
    width: 93vw;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px var(--weak-black-cl);
    color: var(--white-cl);
}